@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700|Exo:100,200,300,400,500,6000,700');

/* ---------------------------------------- Colors */

.bg-color-nav {
    background-color: antiquewhite;
}

.bg-color-heading {
    background-color: antiquewhite;
}

.bg-color-product {
    background-color: lightgoldenrodyellow;
}

.bg-color-review {
    background-color: lightgoldenrodyellow;
}

.bg-color-pickup {
    background-color: lightgoldenrodyellow;
}

.bg-color-contact {
    background-color: lightgoldenrodyellow;
}

.bg-color-faq {
    background-color: lightgoldenrodyellow;
}

.bg-color-footer {
    background-color: antiquewhite;
}

/* ---------------------------------------- Nav */

#nav {
    margin: 0;
    text-align: center;
}

/* ---------------------------------------- Header */

header {
    margin: 0;
}

.heading-text {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    color: burlywood;
    text-align: center;
    padding-top: 10px;
}

.sub-heading-text {
    font-family: "Exo", sans-serif;
    font-weight: 500;
    color: burlywood;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 10px;
}

/* ---------------------------------------- Products */

p {
    margin-left: 10px;
    margin-top: 0;
    margin-right: 10px;
    margin-bottom: 0;
    font-size: 18px;
}

.product-section {
    padding-bottom: 15px;
}

.product {
    background-color: whitesmoke;
    font-family: "Exo", sans-serif;
    font-weight: 400;
    color: burlywood;
    text-align: center;
    margin-left: 10%;
    padding-top: 15px;
    padding-bottom: 15px;
    max-width: 80%;
}

.block-divider {
    width: 75px;
    height: 5px;
    border: 0;
    background-color:burlywood;
}

.block-divider--short {
    width: 40px;
}

button {
    box-shadow: none;
    border-style: none;
}

.btn-prod {
    background-color: burlywood;
    border-color: burlywood;
    border-radius: 30px;
    min-width: 100px;
    font-weight: bold;
    text-align: center;
    color: white;
}

.btn-prod:hover {
    background-color: white;
    border-color: burlywood;
    color: burlywood;
    text-decoration: none;
}



/* ---------------------------------------- Reviews */

.review-section {
    padding-bottom: 15px;
}

.review {
    background-color: whitesmoke;
    font-family: "Exo", sans-serif;
    font-weight: 400;
    color: burlywood;
    text-align: center;
    margin-left: 15%;
    padding-top: 15px;
    padding-bottom: 15px;
    max-width: 70%;
}

/* ---------------------------------------- Pickup locations */

.pickup-section {
    padding-bottom: 15px;
}

.location {
    text-align: center;
    padding-top: 120px;
}

.location span {
    font-family: "Exo", sans-serif;
    font-weight: 400;
    color: burlywood;
    text-align: center;
    padding-top: 0;
    padding-bottom: 0;
}

.location-img {
    background: url("../images/marketPride.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
    max-height: 360px;
}

/* ---------------------------------------- Image-containers */
.img1-container{
    height: 30vh;
    background: url("../images/bigBarn.png") no-repeat bottom right fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.img2-container{
    height: 30vh;
    background: url("../images/fruitTree.png") no-repeat bottom right fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.img3-container{
    height: 30vh;
    background: url("../images/berries.png") no-repeat bottom right fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.img4-container{
    height: 30vh;
    background: url("../images/greenField.png") no-repeat bottom right fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.img5-container{
    height: 30vh;
    background: url("../images/vegWide.png") no-repeat bottom right fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.img6-container{
    height: 30vh;
    background: url("../images/cowsResting.png") no-repeat bottom right fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

/* ----------------------------------------Special paddings/margins/text */

h1, h2, h3, h4 {
    margin: 0;
}

.uppercase {
    text-transform: uppercase;
}

.inline-block {
    display: inline-block;
}

.container-fluid {
    padding-left: 0;
}

/* ----------------------------------------Hover.css */

.hvr-sweep-to-bottom:before {
    background-color: rgba(0,0,0,0.15);
    height: 75px;
    color: whitesmoke;
}

/* ----------------------------------------Contact form */

.contact-heading {
    font-family: "Exo", sans-serif;
    font-weight: 300;
    margin-top: 25px;
    margin-bottom: 20px;
}

.center-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 70%;
}

button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 20px;
    columns: #fafafa;
    background-color: burlywood;
}

/* ---------------------------------------- Footer */

footer {
    padding-top: 20px;
}

/* ---------------------------------------- Menu Items */

.menuitem {
    height: 50px;
    text-align: center;
    align-items: center;
    padding: 0;
}

.menuitem a {
    width: 100%;
    text-decoration: none;
    color: burlywood;
    height: 100px;
    font-size: 18px;
}

.menuitem a i {
    padding-top: 10px;
    padding-left: 5px;
    display: block;
    color: burlywood;
    font-size: 18px;
}

.logo-usda {
    background: url("../images/logo-usda.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 50px;
    max-width: 50px;
}