@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700|Exo:100,200,300,400,500,6000,700');

/* ---------------------------------------- Colors */

.bg-color-nav {
    background-color: antiquewhite;
}

.bg-color-heading {
    background-color: antiquewhite;
}

.bg-color-product {
    background-color: lightgoldenrodyellow;
}

.bg-color-review {
    background-color: lightgoldenrodyellow;
}

.bg-color-pickup {
    background-color: lightgoldenrodyellow;
}

.bg-color-contact {
    background-color: lightgoldenrodyellow;
}

.bg-color-faq {
    background-color: lightgoldenrodyellow;
}

.bg-color-footer {
    background-color: antiquewhite;
}

/* ---------------------------------------- Nav */

#nav {
    margin: 0;
    text-align: center;
}

/* ---------------------------------------- Header */

header {
    margin: 0;
}

.heading-text {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    color: burlywood;
    text-align: center;
    padding-top: 25px;
}

.sub-heading-text {
    font-family: "Exo", sans-serif;
    font-weight: 500;
    color: burlywood;
    text-align: center;
}

/* ---------------------------------------- Product */


/* ----------------------------------------Special paddings/margins/text */

h1, h2, h3, h4 {
    margin: 0;
}

.uppercase {
    text-transform: uppercase;
}

.inline-block {
    display: inline-block;
}

/* ----------------------------------------Hover.css */

.hvr-sweep-to-bottom:before {
    background-color: rgba(0,0,0,0.2);
    height: 75px;
    color: whitesmoke;
}

/* ----------------------------------------Contact form */

.contact-heading {
    font-family: "Exo", sans-serif;
    font-weight: 300;
    margin-top: 25px;
    margin-bottom: 20px;
}

.center-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 70%;
}

button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 20px;
    columns: #fafafa;
    background-color: #e84610;
}

/* ---------------------------------------- Menu Items */

.menuitem {
    height: 100px;
    text-align: center;
    align-items: center;
    padding: 0;
}

.menuitem a {
    width: 100%;
    text-decoration: none;
    color: burlywood;
    height: 100px;
    font-size: 18px;
}

.menuitem a i {
    padding-top: 25px;
    padding-left: 5px;
    display: block;
    color: burlywood;
    font-size: 18px;
}

.logo-usda {
    background: url("../images/logo-usda.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100px;
    min-width: 100px;
}